@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  background: #f1f2f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body .bold {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  margin: 0;
}
h1 {
  font-size: 130px;
  line-height: 100%;
}
h2 {
  font-size: 60px;
  line-height: 140%;
}
h3 {
  font-size: 40px;
  line-height: 130%;
}
h4 {
  font-size: 28px;
  line-height: 130%;
}
h5 {
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.02em;
}
h6 {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

/* Bootsrap */
@media screen and (min-width: 1680px) {
  .container {
    max-width: 1680px !important;
  }
  .footer-mobile {
    display: none;
  }
  .footer-tablet {
    display: none;
  }
}
  


/* Text links */
/* White */
a.white-default {
  color: #f1f2f5;
  text-decoration: none;
}
a.white-default:hover {
  color: #005d7d;
  text-decoration: none;
}
a.white-pressing {
  color: #171f23;
  text-decoration: none;
}
a.white-disabled {
  color: #f1f2f5;
  opacity: 0.25;
  text-decoration: none;
}
/* Dark */
a.dark-default {
  color: #45474d;
  text-decoration: none;
}
a.dark-default:hover {
  color: #005d7d;
  text-decoration: none;
}
a.dark-pressing {
  color: #171f23;
  text-decoration: none;
}
a.dark-disabled {
  color: #45474d;
  opacity: 0.25;
  text-decoration: none;
}
/* Gray */
a.gray-default {
  color: #919399;
  text-decoration: none;
}
a.gray-default:hover {
  color: #005d7d;
  text-decoration: none;
}
a.gray-pressing {
  color: #171f23;
  text-decoration: none;
}
a.gray-disabled {
  color: #919399;
  opacity: 0.25;
  text-decoration: none;
}
/* Blue */
a.blue-default {
  color: #005d7d;
  text-decoration: none;
}
a.blue-default:hover {
  color: #1181a7;
  text-decoration: none;
}
a.blue-pressing {
  color: #171f23;
  text-decoration: none;
}
a.blue-disabled {
  color: #005d7d;
  opacity: 0.25;
  text-decoration: none;
}

/* Text color */
.white {
  color: #f1f2f5;
}
.black {
  color: #171f23;
}
.blue {
  color: #005d7d;
  text-transform: uppercase;
}

p {
  color: #45474d;
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;

}

/* Buttons */
.arrow-right-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}
.arrow {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  border: 2px solid #005d7d;
  border-radius: 50%;
}
.arrow img {
  width: 24px;
}
.more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.more-btn a {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border: 2px solid;
    border-radius: 50%;
}
/* Menu */
.menu {
  /* position: absolute; */
}
.logo {
  display: flex;
  align-items: center;
}
.menu-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-top-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.top-nav ul li {
  display: inline-block;
  margin: 0 20px;
  list-style-type: none;
}



/* Hero block */
.hero-scr {
  background-image: url("/asset/img/hero-background.jpg");
  padding: 100px 0;
}
.hero-txt {
  display: flex;
  justify-content: center;
}


/* Money block */
.money-scr {
  margin-top: 200px;
  display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.money-txt {
  display: flex;
  justify-content: space-between;
}
.money-title {
  width: 50%;
}
.money-desc {
  width: 50%;
}

.money-img {
    margin-top: 60px;
}
.money-img img {
    width: 100%;
}

/* Mission block */
.mission-scr {
    margin-top: 200px;
}
.mission-title {
  width: 83%;
}
.mission-columns {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.mission-col {
    padding: 30px;
    background-color: #ffffff;
    margin: 7.5px;
    width: 550px;
    height: 330px;
}
.mission-col p {
    margin: 0;
    margin-top: 8px;

}

/* Team block */
.team-scr {
    margin-top: 200px;
}
.team-cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team-card {
    width: 800px;
}
.team-card-text {
display: flex;
justify-content: space-between;
}
.team-card-img img {
    width: 100%;
}


/* Services */
.services-scr {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-desc .desc-row ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 20px;
  }
.services-desc .desc-row ul li {
    list-style-image: url("/asset/img/list-bullet.svg");

}
.services-scr-img img {
  left: 20%;
  position: relative;
}
.services-desc h6 {
    margin-top: 60px;
}
.services-desc p {
    margin: 0;
    margin-top: 8px;
}


/* Portfolio */
.portfolio-src {
    margin-top: 200px;
}
.portfolio-map {
    margin-top: 60px;

}
.portfolio-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.portfolio-card-front {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.portfolio-card {
    position: relative;
}
.portfolio-card-overlay {
    display: none;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
}
.portfolio-card-overlay a {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #005d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.portfolio-card:hover .portfolio-card-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffffff !important;
}

.card-plus img{
    padding: 11.5px;
    border-radius: 50%;
    background-color: #ffffff;
}
.card-title p {
    font-size: 24px;
    text-align: center;
}

/* Why us */
.whyus-scr {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.col-block {
    width: 490px;
}


/* Benefits */
.benefits-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}


/* Blog */
.blog-scr {
    margin-top: 200px;
}
.blog-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.blog-card {
    width: 390px;
}
.blog-card p {
    margin: 0;
    margin: 8px 0 8px 0px;
}
.blog-card-img img {
    margin-top: 20px;
    width: 100%;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-date {
  color: #919399;
}



/* Contacts */
.contacts-scr {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.contacts-text {
    width: 58%;
}
.contacts-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contacts-row p {
    margin: 0;
    margin: 0px 0px 5px 0px;
}
.contacts-manager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contacts-manager img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.contacts-manager-txt p {
    margin: 0;
    margin-top: 8px;
}
.contacts-manager-txt .manager-name {
    font-weight: 600;
}
.contacts-social {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 72px;
}
.contacts-form form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.contacts-form input {
    background: 0 0;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #005D7D;
    width: 560px;
    margin-top: 60px;
}
#policy-check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    width: auto;
}
.checkbox {
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkbox label {
    margin-left: 10px;
}

.contacts-form textarea {
    background: 0 0;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #005D7D;
    width: 560px;
    margin-top: 0px;
}

.contacts-form textarea:focus, .contacts-form input:focus {
    outline: none;
    border-bottom: 1px solid #005D7D;
}
.contacts-form button {
  border: none;
  background: none;
}
.submit {
  display: flex;
  justify-content: space-between;
}
.submit label {
  font-size: 12px;
}
.submit .arrow-right-btn .blue-default {
  font-size: 18px;
}

/* Footer */
footer {
    margin-top: 200px;

}
.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-row .copyright {
  width: 41.6%;
}
.footer-row .footer-nav {
  width: 58.4%;
}
.footer-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-nav ul li {
    display: inline-block;
    margin: 00px 10px 0px 0px;
    list-style-type: none;
}
.footer-adress {
    display: flex;
    justify-content: space-between;
}
.footer-agreement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Blog */
.blog-main-page {
  margin-top: 100px;
}
.blog-main-page {
  margin-bottom: 200px;
}
.body-post .more-posts h2 {
  margin-top: 200px;
}

.header-post {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.author-post-card img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
.author-post-card {
  display: flex;
}

.author-post-card .author p {
  margin: 0;
  margin: 5px 0px 40px 0px;
  font-size: 14px;
  line-height: 160%;
  color: #45474d;
}
.author-post-card .author .date {
  font-size: 18px;
  line-height: 160%;
  color: #171f23;
}







/* Mobile size */
@media screen and (min-width: 360px) and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 160%;
  }
  h1 {
    font-size: 50px;
    line-height: 100%;
  }
  h2 {
    font-size: 26px;
    line-height: 140%;
  }
  h3 {
    font-size: 20px;
    line-height: 130%;
  }
  h4 {
    font-size: 18px;
    line-height: 130%;
  }
  .menu {
    display: none;
  }
  .container {
    width: auto;
  }
.arrow {
  width: 40px;
  height: 40px;
}
.footer-tablet {
  display: none;
}
.footer-desctop {
  display: none;
}
  /* Hero block */
  .hero-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero-title h1{
    font-size: 50px;
    text-transform: uppercase;
  }

  /* Money block */
  .money-scr {
    margin-top: 120px;
  }
  .money-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .money-title {
    width: 100%;
  }
  .money-desc {
    width: 100%;
  }

  .money-desc p {
    margin-left: auto;
  }

  /* Mission block */
  .mission-scr {
    margin-top: 80px;
  }
  .mission-title {
    width: 100%;
  }
  .mission-columns {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .mission-col {
    margin: 5px;
    width: 330px;
    height: auto;
  }
  .mission-col:last-child {
    width: 330px;
    height: auto;
  }

  /* Team block */
  .team-scr {
    margin-top: 80px;
  }
  .team-cards {
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
  }
  .team-card {
    width: 100%;
    height: auto;
  }
  .team-card-text {
    flex-direction: column;

  }

  /* Services block */
  .services-scr {
    margin-top: 120px;
    flex-direction: column;
  }
  .services-scr-img img {
    left: 0%;
    margin-top: 40px;
  }
  .services-desc .desc-row ul {
    columns: 1;
    -webkit-columns: 1;
  }
  .services-desc h6 {
    margin-top: 30px;
  }
  /* Why Us block */
  .whyus-scr {
    margin-top: 120px;
    flex-direction: column;
  }
  .benefits-col{
    gap: 30px;
    margin-top: 40px;
  }
  .col-block {
    width: 100%;
  }

  /* Services */
  .portfolio-src {
    margin-top: 80px;
  }
/* Blog */
.blog-scr {
  margin-top: 80px;
}
.blog-cards {
  gap: 30px;
}
.blog-card {
  width: 300px;
  height: auto;
}
.blog-card-img {
  width: 300px;
}

/* Contacts */

.contacts-scr {
  margin-top: 120px;
  flex-direction: column;
}
.contacts-text {
  width: 100%;
}
.contacts-social {
  justify-content: center;
  margin-top: 60px;
}
.contacts-form {
  width: 100%;
  margin-top: 100px;
}
.contacts-form h3 {
  text-align: center;
}
.contacts-form form {
  align-items: center;
}
.contacts-form form .submit {
  width: 330px;
  flex-direction: column;
  gap: 30px;
}
.contacts-form input {
  width: 330px;
}
.contacts-form textarea {
  width: 330px;
}
/* Footer */
footer {
  margin-top: 140px;
}
.footer-desctop {
  display: none;
}
.footer-tablet {
  display: none;
}
.footer-mobile{
  display: flex;
  flex-direction: column;

}
.footer-row {
  flex-direction: column;
}
.footer-row .footer-nav {
  width: 100%;
}
.footer-nav ul {
  flex-direction: column;
  gap: 10px;
  margin: 0;
}
.footer-row .policies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.footer-row .trademark p {
  margin: auto;
}
.footer-col {
  display: flex;
  justify-content: space-between;
}
/* Blog main page */
.blog-main-page .blog-cards {
  gap: 30px;
  flex-wrap: wrap;
}
.blog-main-page .blog-cards .blog-card {
  width: auto;
  height: auto;
}
.blog-main-page .blog-cards .blog-card .blog-card-img {
  width: 100%;
}

}










/* Tablet size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 160%;
  }
  h1 {
    font-size: 80px;
    line-height: 100%;
  }
  h2 {
    font-size: 40px;
    line-height: 140%;
  }
  h3 {
    font-size: 28px;
    line-height: 130%;
  }
  h4 {
    font-size: 20px;
    line-height: 130%;
  }

  .menu {
    display: none;
  }
  .footer-mobile {
    display: none;
  }
  /* Hero block */
  .hero-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero-title h1{
    font-size: 80px;
    text-transform: uppercase;
  }

  /* Money block */
  .money-scr {
    margin-top: 120px;
  }
  .money-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .money-title {
    width: 100%;
  }
  .money-desc {
    width: 100%;
  }

  .money-desc p {
    margin-left: 20%;
  }

  /* About block */


  /* Mission block */
  .mission-scr {
    margin-top: 120px;
  }
  .mission-title {
    width: 100%;
  }
  .mission-columns {
    flex-wrap: wrap;
  }
  .mission-col {
    margin: 5px;
    width: 290px;
    height: auto;
  }
  .mission-col:last-child {
    width: 100%;
    height: auto;
  }

  /* Team block */
  .team-scr {
    margin-top: 120px;
  }
  .team-cards {
    justify-content: center;
    gap: 20px;
  }
  .team-card {
    width: 350px;
    height: auto;
  }
  .team-card-text {
    flex-direction: column;

  }

  /* Services block */
  .services-scr {
    margin-top: 120px;
    flex-direction: column;
  }
  .services-scr-img img {
    left: 0%;
    margin-top: 40px;
  }

  /* Why Us block */
  .whyus-scr {
    margin-top: 120px;
    flex-direction: column;
  }
  .benefits-col{
    gap: 30px;
    margin-top: 40px;
  }
  .col-block {
    width: 345px;
  }
/* Blog */
.blog-cards {
  gap: 30px;
}
.blog-card {
  width: 300px;
  height: auto;
}
.blog-card-img {
  width: 300px;
}

/* Contacts */

.contacts-scr {
  margin-top: 120px;
  flex-direction: column;
}
.contacts-text {
  width: 100%;
}
.contacts-social {
  justify-content: center;
  margin-top: 60px;
}
.contacts-form {
  width: 100%;
  margin-top: 100px;
}
.contacts-form h3 {
  text-align: center;
}
.contacts-form form {
  align-items: center;
}
.contacts-form form .submit {
  width: 560%;
}


/* Footer */
footer {
  margin-top: 140px;
}
.footer-desctop {
  display: none;
}
.footer-tablet{
  display: flex;
  flex-direction: column;

}
.footer-row .footer-nav {
  width: 100%;
}
.footer-agreement {
  width: 100%;
}

.blog-main-page .blog-cards {
  gap: 30px;
  flex-wrap: wrap;
}
.more-btn {
  margin-top: 60px;
}
}
